:root {
  --theme1: #dcad11;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: montserrat, helvetica sans-serif;
}

.navbar {
  background-color: rgb(30, 29, 29);
  padding-block: 1rem;
  box-shadow: 2px 2px 4px rgb(4, 8, 14);
  margin-top: 1.5rem;
}

.container {
  max-width: 1100px;
  margin-inline: auto;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--theme1);
  font-size: 1.25rem;
  font-weight: 700;
  border: 1px dashed var(--theme1);
  padding: 0.5rem 1rem;
}

.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-item {
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar-link {
  display: block;
  padding: 1rem 1.5rem;
}

.navbar-link:hover {
  color: #6495ed;
}

.navbar-btn {
  background-color: var(--theme1);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}
